{% extends "base.html" %}

{% block title %} contact {% endblock title%}


{% block body %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>

		<!-- Title -->
		<title>Hardik Bhandari</title>

		<!-- CSS -->
		<link href="../static/style.css" rel="stylesheet" type="text/css">

    </head>

<body class="website-background-black">


	<div class="max-width">
		<div class="logo">
			<div class="logo-inner">
				<a href="../">
					<div class="label-logo on-hover--40 text-color-white"></div>
				</a>
			</div>
		</div>

	<div class="top-bottom-margin">
		<div class="hide-text-block">
			<h2 class="text-color-white animate">Let's make something great!</h2>
		</div>
<div class="max-width-70 text-color-white animate delay02">
			<h4>Contact</h4>

			<p>
Feel free to reach out through any platforms bellow:
			</p>

			<div class="links">
				<a class="on-hover-40 text-color-red label-email copy-email"></a>
				<a class="on-hover-40 text-color-red" href="https://www.linkedin.com/in/hardik-work/" target="_blank">Linkedin</a>
				<a class="on-hover-40 text-color-red" href="https://github.com/bhandarihardik" target="_blank">Git Hub</a>
			</div>
		</div>
	</div>


	</div>


<!-- Copy to clipboard -->
<script src="/static/clipboard.min.js"></script>
<script>
	var clipboard = new ClipboardJS('.copy-email', {
		text: function() {
		return 'bhandarihardik52@gmail.com';
	}
	});
		clipboard.on('success', function(e) {
		console.log(e);
	});
		clipboard.on('error', function(e) {
		console.log(e);
	});
</script>


</body>
</html>
{% endblock body %}
